@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body, html {
  font-family: 'Montserrat';

  color: #333;
}

body > header {
  text-align: center;
  padding: 10vh 0px;

  background-image: url(https://unsplash.it/3440/1440);
  background-attachment: fixed;
  background-size: cover;
}

body > header #logo {
  width: 360px;
  display: block;
  margin: 0px auto;
}

body > header #title {
  text-align: center;
  font-size: 26px;
  color: #FFF;
  margin-bottom: 10px;
  text-transform: uppercase;
}

section.card {
  max-width: 1024px;
  margin: 0px auto;
  border: 1px solid#DDD;
  margin-bottom: 65px;
  text-align: left;
  box-shadow: 0px 0px 3px #DDD;
}

section.card.gears {
  background-image: url(../img/tile.svg);
  background-attachment: fixed;
  background-size: 35%;
}

section.card .body {
  width: 100%;
  background: #FFF;
  padding: 20px;
  overflow: hidden;
}

section.card .holograph {
  background: rgba(57, 57, 57, .88);
  color: #FFF;
}

section.card .holograph.red {
  background: rgba(255, 57, 57, .88);
}

section.card .holograph.blue {
  background: rgba(57, 57, 255, .88);
}

section.card .holograph.purple {
  background: rgba(161, 0, 255, 0.88);
}

section.card h1 {
  width: 100%;
  color: #FFF;
  text-align: center;

  font-size: 45px;
  padding: 35px 0px;
}

section.card img {
  width: 250px;
  height: 250px;
}

section.card .body p {
  padding: 5px 20px;
  float: left;
}

section.card img.left {
  float: left;
}

section.card img.right {
  float: right;
}

section#intro h1 {
  width: 100%;
  text-align: center;
  font-size: 35px;
  padding: 50px 0px
}

section#updates .holograph {
  width: 100%;
  height: 100%;
}

section#updates h1 {
  padding-bottom: 10px;
}

footer {
  padding: 20px 0;
  font-size: 14px;
  color: #7d838a;
  background-color: #373a3e;
  width: 100%;
  line-height: 20px;
  overflow: hidden;
}

.scaffolding {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

input[type=email] {
  height: 40px;
  width: 400px;
  border: 1px solid #DDD;
  outline: none;
  font-size: 18px;
  padding-left: 7px;
  margin: 10px;

  transition: border-color .5s linear;
}

input[type=email]:focus {
  border: 1px solid #06B2FF;
}

input[type=submit] {
  width: 400px;
  height: 40px;
  background-color: #06B2FF;
  color: #503D3D;
  font-size: 19px;
  cursor: pointer;
  color: #FFF;

  margin: 10px;

  transition: background-color .5s, border-size .5s;
}

input[type=submit]:hover {
  background-color: #0497FB;
}

form {
  padding: 20px;
}

#mc_embed_signup {
  text-align: center;
}